* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
    text-align: center;
}

.game-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.game-container .infobar {
	position: absolute;
	display: flex;
	justify-content: space-around;
	order: 0;
	width: 100%;
	max-width: 800px;
	margin-top: 10px;
}

.game-container .infobar > div {
	padding: 10px 20px;
	font-size: 30px;
	color: white;
	text-shadow: 1px 0 1px #000,
				-1px 0 1px #000,
				0 1px 1px #000,
				0 -1px 1px #000,
				0 0 10px #aaa,
				0 0 20px #777,
				0 0 30px #333,
				0 0 40px #000,
				0 0 50px #000;
	display: inline-block;
	user-select: none;
}

.game-container .profile {
	position: absolute;
	top: 80px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	border: 1px solid rgba(0,0,0,0.5);
	max-width: 800px;
	margin-top: 10px;	
	padding: 20px;
	background-color: rgba(255,255,255,0.5);
	border-radius: 25px;
	transition: 0.3s;
	transform: scale(0,0);
}

.game-container .profile .image-box img {
	max-width: 25%;
	flex: 25%;
	cursor: pointer;
	border: 2px solid transparent;
	border-radius: 2px;
}

.game-container .profile .image-box img.selected {
	border: 2px solid rgba(0,0,0,0.5);
}

.game-container .profile .input-box {
	width: 100%;
	margin: 20px 0;
}

.game-container .profile .input-box input {
	font-size: 20px;
	color: rgba(0,0,0,0.5);
	padding: 3px;
	border-radius: 2px;
	border: 1px solid rgba(0,0,0,0.3);
	background-color: rgba(255,255,255,0.5);
	transition: 0.3s ease;
}

.game-container .profile .input-box input:focus {
	border: 1px solid rgba(0,0,0,1);
	background-color: rgba(255,255,255,1);
	color: rgba(0,0,0,1);
}

.game-container .scoreboard {
	position: absolute;
	top: 80px;
	display: block;
	border: 1px solid rgba(0,0,0,0.5);
	max-width: 800px;
	margin-top: 10px;	
	padding: 20px;
	background-color: rgba(255,255,255,0.5);
	border-radius: 25px;
	transition: 0.3s;
	transform: scale(0,0);
	font-size: 30px;
	color: #ff0;
	text-shadow: 1px 0 1px #333,
				-1px 0 1px #333,
				0 1px 1px #333,
				0 -1px 1px #333,
				0 0 5px #000;
}

.game-container .scoreboard h2 {
	line-height: 2em;
	color: #fff;
	text-shadow: 1px 0 1px #000,
				-1px 0 1px #000,
				0 1px 1px #000,
				0 -1px 1px #000,
				0 0 5px #000;	
}

.game-container canvas {
	order: 1;
	width: 100%;
	max-width: 800px;
}

.maximize {
	transform: scale(1,1) !important;
}

.pointer {
	cursor: pointer;
}


@media only screen and (max-width: 960px) {
	.game-container .infobar > div {
		font-size: 20px;
	}
}

@media only screen and (max-width: 600px) {
	.game-container .infobar > div {
		font-size: 14px;
	}
}
