* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;	
	outline: none;
	text-decoration: none;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

div.login {
	position: absolute;
	right: 20px;
	top: 20px;
}

div.login a i {
	border-radius: 50%;
	padding: 10px 15px;
	font-size: 32px;
	color: rgba(250, 250, 250, 0.5);		
	transition: 0.2s;
	border: 4px solid rgba(250, 250, 250, 0.2);	
}

div.login a i:hover {
	color: rgba(250, 250, 250, 0.8);	
	border: 4px solid rgba(250, 250, 250, 0.8);	
}

div.login a#logOut, div.login a#logIn {
	display: none;
}