@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,500,600');
*{
    box-sizing: border-box;
}

body, html {
	position:relative;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 400;
    /* for test
	min-width: 1440px;
	*/
	min-height: 100%;
	height: 100%;
}

a {
    text-decoration: none;
	outline: 0;
}

.grid {
	position: absolute;
	top:      0px;
	left:     0px;
	width:    100%;
	min-height: 100%;
	overflow:   hidden;
	display:    grid;
	grid-gap:   0;
	font-size:0;
	grid-template-columns: 249px auto 1fr;
	grid-template-rows: 63px 175px 60px 1fr 60px;
	grid-template-areas:
		"glogo gheader gheader"
		"gprofile gmain gstatistic"
		"gcreate gmain gstatistic"
		"gmenu gmain gstatistic"
		"glogin gmain gstatistic";
}

.grid .logo{
	grid-area: glogo;
    padding: 20px 0 0 46px;
    color: #354e66;
    font-size: 18px;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.17px; 
}

.grid .header{
	grid-area: gheader;
	font-size:0;
}

	.grid .header .topShadow{
		position: absolute;
		display: block;
		top: 63px;
		width: 100%;
		height: 30px;
		box-shadow: inset 0 30px 30px -30px #d5d5d5;
	}

	.grid .header a{
		text-transform: uppercase;
		color: #354e66;
		font-size: 15px;
		letter-spacing: 1px;
		display: inline-block;
		height: 63px;
		padding: 22px 20px 0px 20px;
		margin: 0 10px 0 0;
	}
		
	.grid .header a:hover, .grid .header a.selected{
		border-bottom: 2px solid #354e66;    
	}

.grid .burger{
	grid-area: gburger;
	padding-top: 22px;
}
	.grid .burger a{
		height: 24px;
		width: 24px;		
	}

.grid .profile{
	grid-area: gprofile;
	text-align: center;
	background-color: #354e66;	
}
	.grid .profile img{
		display: block;
		height: 84px;
		width: 84px;	
		border-radius: 50%; 
		margin: 36px auto 12px auto;
	}

	.grid .profile a{
		font-size: 14px;
		color: #9bb6cc;
		letter-spacing: 0.9px;	
	}

.grid .create{
	grid-area: gcreate;
	background-color: #354e66;
	text-align: center;
	padding-right: 3px;
}
	.grid .create a{
		display: block;
		padding-top: 9px;
		padding-left: 3px;	
		margin: 0 auto;
		width: 164px;
		height: 42px;
		background-color: #fff;
		border-radius: 2px;
		font-size: 16px;
		color: #354e66;
		font-weight: 600;
		letter-spacing: 1px;	
	}
.grid .menu{
	grid-area: gmenu;
	background-color: #354e66;
	padding-top: 8px;
}

    .grid .menu a{
        display: block;
        font-size: 16px;
		width: 100%;
        color: #9bb6cc;
        padding: 14px 0 14px 31px;
        border-left: 2px solid transparent;
        height: 42px;
    }
    .grid .menu a:hover{
        background-color: rgba(255,255,255,0.1);
        border-left: 2px solid #fff;
    }
    
    .grid .menu a.selected{
        color: #fff;
    }

.grid .login {
	grid-area: glogin;
	background-color: #354e66;
}
	.grid .login span{
		margin-left: 33px;
		margin-top: 7px;	
		font-size: 16px;
		color: #9bb6cc;			
	}
	.grid .login span a{
        font-size: 16px;
        color: #9bb6cc;		
	}

.grid .main{
	grid-area: gmain;
	background-color: #f1f3f5;
	padding: 42px 16px 0 56px;
}

    .grid .main .inbox{
        display: block;
        background-color: white;
        border-top: 1px solid #fff;
        border-left: 1px solid #eaecee;
        border-bottom: 1px solid #dfe1e3;
        border-right: 1px solid #dfe1e3;
        border-radius: 3px;
		padding-bottom: 20px;        
        width: 100%;
        min-width: 242px;
        max-width: 522px;
        min-height: 180px;

    }
    
    .grid .main .inbox img{
        margin: 7px 12px 0 17px;
        display: inline-block;
        vertical-align: top;    
        width: 25px;
        height: 25px;
    }
    .grid .main .inbox p{
        font-size: 16px;
        margin-top: 8px;
        display: inline-block;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
    }

    .grid .main .inbox_text{
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;
        font-size: 14px;
        display: inline-block;
        padding: 16px 30px 2px 31px;
        line-height: 22px;
        letter-spacing: 0.3px;
    }
    
    .grid .main .inbox .more_inbox_text{
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;
        font-size: 14px;
        display: inline-block; 
        line-height: 22px;
    }

    .grid .main .inbox a.read_more{
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 600;
        font-size: 14px;        
        display: block;
        margin-left: 31px;
        margin-top: 8px;
        letter-spacing: 0.3px;
    }

    .grid .main figure {
        display: inline-block;
        margin: 35px 38px 10px 1px;
        width: 242px;
        height: 282px;   
        background-color: #fff;
        border-top: 1px solid #fff;
        border-left: 1px solid #eaecee;
        border-bottom: 1px solid #dfe1e3;
        border-right: 1px solid #dfe1e3;   
        border-radius: 3px;
    }
    
    .grid .main figure img{
        width: 240px;
        height: 229px;
    }

    .grid .main figure figcaption{
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;
        font-size: 16px; 
        margin-top: 14px;
        margin-left: 20px;
        letter-spacing: 0.3px;
    }
    .grid .main figure:nth-child(odd) figcaption {
         margin-left: 17px;
    }
    
    .grid .main figure:nth-child(odd){
       margin-right: 0;
    }
	
.grid .statistic{
	grid-area: gstatistic;
	background-color: #f1f3f5;
	padding: 18px 0 0 23px;
}
    
    .grid .statistic .figure{
        width: 242px;
        height: 93px;
        display: inline-block;
        vertical-align: top;
		margin-top: 19px;
		margin-left: 2px;
        background-color: #fff;
        border-top: 1px solid #fff;
        border-left: 1px solid #eaecee;
        border-bottom: 1px solid #dfe1e3;
        border-right: 1px solid #dfe1e3;
        border-radius: 3px;
    }
    .grid .statistic .figure .frame{
        display: inline-block;
        border-radius: 3px 0 0 3px;
        width: 95px;
        height: 91px;
		vertical-align: top;
    }
    
    .grid .statistic .figure:nth-child(odd){
    	margin-top: 20px;
        margin-right: 33px;
		
    }
    
    .grid .statistic .figure:nth-child(even) .frame{
        background-color: #20c997;
        padding-top: 28px;
        padding-left: 21px;
        margin-right: 19px;
    }

    .grid .statistic .figure:nth-child(odd) .frame{
        background-color: #9775fa;
        padding-top: 30px;
        padding-left: 27px;  
        margin-right: 20px;
    }
	
  	.grid .statistic .figure .details{
		display: inline-block;
		margin-top: 1px;
		margin-left: 3px;
	}
	
	.grid .statistic .figure .details h1{
		display: block;
		margin-top: 9px;
		margin-bottom: 0;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;
        font-size: 35px; 
 	}

	.grid .statistic .figure .details p{
		display: block;
		margin-top: 0;
		margin-left: 1px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 14px; 
        letter-spacing: -1px;
	}
	
    .grid .statistic #donutchart{
		display: inline-block;
        max-width: 521px; 
        max-height: 401px;
		min-width: 242px;
		min-height: 190px;
		width: 100%;
		height: 100%;
        margin-top: 43px;
    }

.grid .burger{
	display: none;
}
	
@media only screen and (max-width: 1115px) {
	.grid {
		grid-template-columns: 249px 1fr;
		grid-template-rows: 63px 175px 60px 40px 1fr 1fr;
		grid-template-areas:
			"glogo gheader"
			"gmenu gprofile"
			"gmenu gcreate"
			"gmenu glogin"
			"gmain gmain"
			"gstatistic gstatistic";
	}	

	.grid .main{
		padding-left: 0;
		text-align: center;
		box-shadow: none;
	}
	
		.grid .main .inbox{
			text-align: left;
			margin: auto auto;
		}
		
		.grid .main figure:nth-child(odd){
			margin-left: 10px;
		}
	
	.grid .statistic{
		text-align: center;
		padding-left: 0;
		padding-right: 0;
		overflow-y: hidden;
		box-shadow: none;
	}
	
		.grid .statistic .figure{
			text-align: left;
			mar1gin-right: 0;
		}
	
		.grid .statistic .figure:nth-child(odd){
			margin-right: 0;
		}
		
		 .grid .statistic #donutchart{
		 	position: absolute;
		 	display: block;
		 	margin: 10px auto 10px auto;
		 	left: 50%;
		 	transform: translate(-50%);
		 }
	
	.grid .login span{
		display: block;
		text-align: center;
		padding: 0;
		margin: 0;
	}	
	
}

@media only screen and (max-width: 590px) {
	.grid {
		grid-template-columns: 1fr 40px;
		grid-template-rows: 63px 175px 60px 40px 1fr 1fr;
		grid-template-areas:
			"glogo gburger"
			"gprofile gprofile"
			"gcreate gcreate"
			"glogin glogin"
			"gmain gmain"
			"gstatistic gstatistic";
	}	

	.grid .main{
		padding-left: 25px;
		padding-right: 25px;
	}

	.grid .menu{
		display: none;
	}
	
		.grid .main figure{
			margin: 40px 0 0 0;
			
		}
	
	.grid .header{
		display: none;
	}
	.grid .burger{
		display: block;
	}	

}