#ProfilPicDiv{
	position:absolute;
	left:100px;
	height:202px;
	width:202px;
	overflow:hidden;
	border: 1px solid #000;
	background-color:#fff;
	border-radius:100px;
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    -ms-border-radius:100px;
	transition: 1s;
	transition-delay:0.5s;
	padding:5px;
	box-shadow:10px 10px 10px rgba(1,1,1,0.3);
	z-index:0;
	opacity:0.75;
	scale:1;	
    -webkit-user-select: none; /* Chrome, Opera, Safari */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */	
	display:none;
}

#ProfilPicDiv:hover{
	border-radius:50px;
	width:450px;
	box-shadow:10px 10px 10px rgba(1,1,1,0.5);
	padding:5px 50px 5px 5px;
	z-index:1;
	opacity:0.95;
}
#ProfilPicDiv:hover > .MyBubble { border-radius:50px; }

.MyBubble{
	background-color:#fff;
	border:1px solid #000;
	border-radius:100px;
	transition:1s;
	transition-delay:0.5s;
	vertical-align:top;
	
}

#ProfilPicDiv:hover > #ProfileEffectDiv{
	opacity:0;
	position: absolute;
	left:-1000px;
	right:-1000px;
	bottom:-1000px;
	top:-1000px;
}

.MyBubble:hover{
	border-radius:50px;
}
#MyBubbleText{
	position:absolute;
	left:230px;
	width:250px;
	top:5px;
	bottom:5px;
	border-radius:20px;
	text-shadow: 2px 2px 4px rgba(1,1,1,0.5);
	font-family: cursive;
	font-size:15px;
	padding: 0px 10px;
	-webkit-user-select: auto; /* Chrome, Opera, Safari */
	-moz-user-select: auto; /* Firefox 2+ */
	-ms-user-select: auto; /* IE 10+ */
	user-select: auto; /* Standard syntax */	
}

/* blue bold font */
.BBF{
	color: #007;
	font-weight:900;
}

#ProfileEffectDiv{
	position: absolute;
	display:block;
	left:1px;
	right:1px;
	bottom:1px;
	top:1px;
	transition:1s;
	trans1ition-delay:2s;
}
#EffectCircleDiv{
	position:absolute;
	border:1px solid #000;
	width:6px;
	height:6px;
	border-radius:50%;
	background-color: #333;
}

.ProfileEffectClass{
   -webkit-animation: Spin 2s infinite linear;
   -moz-animation: Spin 2s infinite linear;
   -o-animation: Spin 2s infinite linear;
    animation: Spin 2s infinite linear;
}

#TimeDateTooltip {
	display:none;
	position:absolute;
	right:1px;
	bottom:38px;
	border:1px solid rgba(100,100,100,0.9);
	background-color:rgba(0,0,0,0.9);
	border-radius:5px;
	padding:2px 10px;
	color:#fff;
	font-size:14px;
	font-family: Arial;
}


@keyframes Spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
@-o-keyframes Spin{
    from {-o-transform:rotate(0deg);}
    to {-o-transform:rotate(360deg);}
}
@-moz-keyframes Spin{
    from {-moz-transform:rotate(0deg);}
    to {-moz-transform:rotate(360deg);}
}
@-webkit-keyframes Spin{
    from {-webkit-transform:rotate(0deg);}
    to {-webkit-transform:rotate(360deg);}
}


